require_relative 'lita-capistrano/lib/lita/handlers/capistrano.rb'

Lita.configure do |config|
  config.robot.name = "Sir Bottington"
  config.robot.log_level = :debug
  config.robot.adapter = :example_chat_service
  config.adapters.example_chat_service.username = "bottington"
  config.adapters.example_chat_service.password = "secret"
  config.redis[:host] = "redis.example.com"
  config.robot.admins = []

  # lita-deploy-tracker config
  config.handlers.deploy_tracker.host = "mongodb"
  config.handlers.deploy_tracker.user = "lita"
  config.handlers.deploy_tracker.password = "secret"

  # lita-capistrano config
  config.handlers.capistrano.server = "capistrano-deploy.com"
  config.handlers.capistrano.server_user = "lita"
  config.handlers.capistrano.server_password = "secret"

  config.handlers.capistrano.deploy_tree = {
    first_app: {
      qa: {
        dir: "/capistrano/first_app",
        envs: [
          "test",
          "test2"
        ]
      },
      staging: {
        dir: "/capistrano/fist_app/staging",
        envs: [
          "staging1",
          "staging2"
        ]
      },
      production: {
        dir: "/capistrano/production/first_app",
        envs: [
          "production-dc1",
          "production-dc2"
        ]
      }
    }
  }

end
